

.singUp-inner{
    text-align: center;
    font-size: 20px;
    padding: 5px;
}

.sin{
  text-align: center;
}




.close-button {
    /* position close button in top right corner */
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
  
    /* remove text and display as cross */
    font-size: 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    background-color: #333;
    color: #fff;
    cursor: pointer;
  }

  .close-button:before,
  .close-button:after {
    content: '';
    position: absolute;
    top: 7px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #fff;
  }
  
  .close-button:before {
    transform: rotate(45deg);
  }
  
  .close-button:after {
    transform: rotate(-45deg);
  }

  .singbtn{
    justify-content: center;
    text-align: center;
    background-color: black;
    color: white;
    left: 38%;
    margin-top: 20px;
    position: absolute;
    height: 40px;
    width: 100px;
    border-radius: 15px;
  }

  .form-label {
    text-align: left;
    margin-top: 15px;
    
  }

  .in{
    border-radius: 10px;
    border: none;
    height: 25px;
    width: 80%;
    text-align: center;
}



input{
  text-align: center;
}

label{
  text-align: left;
}

#lbl{
  text-align: left;
}

.chebox{
  display: inline-flex;
  width: 80%;
  margin-top: 10px;
  text-align: center;
  justify-content: space-between;
}

.inche{
  border-radius: 50%;
  border: none;
  height: 25px;
  width: 30px;
}



  