.foot{
    background-color: rgb(125, 162, 169);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
}

.foot>p{
    margin-left: 20px;
    margin-top: 15px;
    color: white;
}