.user{
    
    max-width: 10%;
}

.username{
    border: 1px solid;
}

.info{
    display: flex;
    
}



.avatar{
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 130px;
    width: 130px;
    display: block;
    border-radius: 50%;
    text-align: center;
    line-height: 120px;
}

.rating{
    display:flex;
    /* justify-content: space-between; */

    width: 150px;
}

.bio{
    margin: 20px;
    /* margin-left: 130px; */
    width: 70%;
    
}

.bio>div{
    border: 2px solid black;
    width: 90%;
    height: 70%;
    border-radius: 10px;
}

.calendar{
    width: 100%;
    height: 100%;
    margin: 20px;
    justify-content: space-evenly;
    display: flex;
}



.cal{
    width: 55%;
    border-radius: 10px;
    float: right;
    margin-bottom: 5px;

    
}






.available{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 2%;
    
}

.green{
    background-color: green;
    width: 40px;
    border-radius: 40%;
    
}

.booked{
    
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 2%;
   
}

.red{
    background-color: red;
    width: 40px;
    border-radius: 40%;
}
.half{
    width: 40%;
}

.half>button{
    margin: 10%;
    width: 30%;
    height: 20%;
    border-radius: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 20px;
    border: none;
}

.userPhotos{
    display: flex;
    justify-content: space-evenly;
}

.pht1{
    width: 15%;
    height: 420px;
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
    line-height: 350px;
}

.pht2{
    width: 15%;
    height: 370px;
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
    line-height: 350px;
}


.react-calendar {
    max-width: 100%;
    background: rgba(211, 211, 211, 0.537);
    border: 1px solid #a0a096;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1em;
    border-radius: 20px;
  }
  .react-calendar--doubleView {
    width: 700px;
  }
  .react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
  }
  .react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.2em;
  }
  .react-calendar,
  .react-calendar *,
  .react-calendar *:before,
  .react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
  }
  .react-calendar button:enabled:hover {
    cursor: pointer;
  }
  .react-calendar__navigation {
    display: flex;
    height: 24px;
    margin-bottom: 1em;
  }
  .react-calendar__navigation button {
    min-width: 24px;
    background: none;
  }
  .react-calendar__navigation button:disabled {
    background-color: #f0f0f0;
  }
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    background-color: #e6e6e6;
  }
  .react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.7em;
  }
  .react-calendar__month-view__weekdays__weekday {
    padding: 0.1em;
  }
  .react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    font-weight: bold;
  }

  .react-calendar__month-view__days__day{
    color: green;
  }
  .react-calendar__month-view__days__day--neighboringMonth {
    color: rgba(211, 211, 211, 0.537);
  }
  .react-calendar__year-view .react-calendar__tile,
  .react-calendar__decade-view .react-calendar__tile,
  .react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
  }
  .react-calendar__tile {
    max-width: 100%;
    padding: 10px 6.6667px;
    background: none;
    text-align: center;
    line-height: 5px;
  }
  .react-calendar__tile:disabled {
    background-color: red;
    color: white;
  }
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background-color: green;
    color: white;
  }
  .react-calendar__tile--now {
    background: #ffff76;
  }
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    background: #ffffa9;
  }
  .react-calendar__tile--hasActive {
    background: #76baff;
  }
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    background: #23415f;
  }
  .react-calendar__tile--active {
    background: black;
 
  }
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background:black
  }
  .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
  }
  