body{
  background-color: rgb(247, 247, 247);
  height: 100%;
}

.msg1 {
    margin: 30px;
}

.messege{
    width: 95%;
    margin-left: 2%;
    border: solid 1px black;
    border-radius: 5px;
}

p{
    margin: 9px;
}

.msg2{
    margin: 30px;
}

.photograpgersAvatars{
    margin: 30px;
    display: flex;
    width: 100%;
    
}



img{
    border: solid 1px black;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    flex-wrap: wrap;
    margin-right: 70px;
    text-align: center;
    align-items: center;
    justify-content:space-evenly;
}
.msg3{
    margin: 30px;
}

.forumMsg1{
    display: flex;
    flex: 1;
    border: 1px solid black;
    margin-left: 2%;
    width: 95%;
    margin-top: 3px;
}

.countbox{
    float: right;
}
